{% extends 'h_utama.html' %}


{% block body %}
<br><br>
  <div class="container">
    <form class="form-1" action="{{ url_for('sewa') }}" method="POST">
      <div class="form-group">
        <label>Nama:</label>
        <input type="text" class="form-control" name="nama" placeholder="masukan nama" required>
        <div class="valid-feedback">Valid.</div>
      </div>
      <div class="form-group">
        <label>NO.telp:</label>
        <input type="text" class="form-control" name="nomer" placeholder="628xxxxxxxxx" required>
        <div class="valid-feedback">Valid.</div>
      </div>
      <div class="row">
        <div class="col">
          <label>Pilih ID</label>
            <select name="card" class="custom-select" required>
                <option selected value="A1" id="ktm">KTM</option>
                <option value="A2" id="kpel" >KPEL</option>
                <option value="A3" id="ktp" >KTP</option>
                <option value="A4" id="sim" >SIM</option>
            </select>
            <div class="valid-feedback">Valid.</div>
        </div>
        <div class="col">
          <label>Pilih Kamera</label>
            <select name="kamera" class="custom-select" required>
              <option value="C1">Canon 1000D</option>
              <option value="C2">Canon 500D</option>
              <option value="N1">Nikon D3500</option>
              <option value="N2">Nikon D5300</option>
              <option value="S1">Sony A6000</option>
              <option value="S2">Sony A7</option>
            </select>
            <div class="valid-feedback">Valid.</div>
        </div>
        <div class="col">
            <div class="form-group">
              <label>Lama Sewa</label>
              <input type="text" class="form-control" name="durasi" required>
            <div class="valid-feedback">Valid.</div>
            </div>
        </div>
      </div>
      <div class="btn-group">
        <button type="reset" class="btn btn-danger">Rest</button>
        <button type="submit" class="btn btn-primary">Sewa</button>
      </div>
    </form>
  </div>
<br><br><br><br>
{% endblock %}
{% block footer %}
{% endblock %}
