<!DOCTYPE html>
<html>
<head>
	<title>Kamera Kita</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<!-- tombol navigasi -->

<nav class="navbar navbar-expand-md bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand">Kamera Kita</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('halaman_utama')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Tentang Kami</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('proses_sewa')}}">Sewa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</div>



{% block body %}
<!-- gambar gerak -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item responsive active">
			<img src="{{ url_for('static', filename='img/bg canon.jpg')}}">
			<div class="carousel-caption">
				<h1 class="display">Canon</h1>
			</div>
		</div>
		<div class="carousel-item responsive">
			<img src="{{ url_for('static', filename='img/bg sony.jpg')}}">
			<div class="carousel-caption">
				<h1 class="display">Sony</h1>
			</div>
		</div>
		<div class="carousel-item responsive">
			<img src="{{ url_for('static', filename='img/bg nikon.jpg')}}">
			<div class="carousel-caption">
				<h1 class="display">Nikon</h1>
			</div>
		</div>
	</div>
</div>


<!-- section1 (container1) -->
<div class="container-fluid">
	<div class="row justify-content-center text-center nt-4">
		<div class="col-md-11 col-lg-9">
			<h1 class="display-5">Pilih Kamera Yang Kamu Butuhkan</h1>
			<p class="lead">Pilihan Teratas</p>
		</div>
	</div>
</div>


<!-- section2 (container2) -->
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ url_for('static', filename='img/canon/1000D/tampak depan.png')}}">
				<div class="card-body">
					<h3>CANON</h3>
					<p>Canon 1000D</p>
					<p><b>Rp 80.000 /24jam</b></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ url_for('static', filename='img/nikon/D3500/tampak depan.png')}}">
				<div class="card-body">
					<h3>NIKON</h3>
					<p>Nikon D3500</p>
					<p><b>Rp 120.000 /24jam</b></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="{{ url_for('static', filename='img/sony/a 6000/tampak depan.png')}}">
				<div class="card-body">
					<h3>SONY</h3>
					<p>Sony A6000</p>
					<p><b>Rp 200.000 /24jam</b></p>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="my-4">


<div class="container-fluid">
	<div class="row text-center">
		<div class="col-12">
			<h2>Connect With Us</h2>
		</div>
		<div class="col-12 social">
			<a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
			<a href="http://twitter.com/"><i class="fab fa-twitter"></i></a>
			<a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
<!-- Footer -->
<footer>
<div class="container-fluid">
	<div class="row text-center">
		<div class="col-md-4">
			<h5>Kontak Kami</h5>
			<br class="border">
			<p>628-8634-8234-3435</p>
			<p>kamerakita@gmail.com</p>
			<p>Indonesia, Yogyakarta</p>
		</div>
		<div class="col-md-4">
			<h5>Jam Kerja</h5>
			<br class="border">
			<p>Senin-Kamis: 9am - 5pm</p>
			<p>Jumat-Sabtu: 10am - 4pm</p>
			<p>Minggu: 8am - 1pm</p>
		</div>
		<div class="col-md-4">
			<h5>Cabang</h5>
			<br class="border">
			<p>Yogyakarta, Wates No.4</p>
			<p>Yogyakarta, Bantul No.17</p>
			<p>Yogyakarta, Sleman No.10</p>
			<p>Yogyakarta, GunungKidul No.29</p>
		</div>
	</div>
</div>
</footer>
{% endblock %}
</body>
</html>